.dbb-modal-window {
  width: 0;
  height: 0;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  z-index: 300;
  opacity: 0;
  transition: opacity 0.3s;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.dbb-modal-window--show {
  visibility: visible;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.nest-content-box {
  background: #fff;
  position: relative;
  box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.75);
}

.dbb-control {
  position: absolute;
  right: -25px;
  top: 2px;
  color: #fff;
  text-align: center;
}

.dbb-content{
  position: relative;
}

.dbb-close-btn {
  width: 15px;
  height: 15px;
  background: url('../svg/cross.svg');
  background-size: 15px 15px;
  cursor: pointer;
  display: block;
  opacity: 0.2;
  position: relative;

  &:active {
    top: 1px;
  }

  &:hover {
    opacity: 1;
  }
}