{% spaceless %}
	{% macro wrapper(content) %}
		<div class="dbb-modal-window js-dbb-modal-window">
			<div class="dbb-content js-dbb-content">
				{{ content | raw }}

				<div class="dbb-control">
					<a class="dbb-close-btn js-dbb-close-btn" href="#dbb-close-btn"></a>
				</div>
			</div>
		</div>
	{% endmacro %}
{% endspaceless %}