{% import "component/wrapper.twig" as bgScreen %}
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="/res/bower_package/jquery/dist/jquery.js"></script>
    <script src="/res/bin/main.min.js"></script>

    <style>
        .show-btn {
            width: 300px;
            height: 80px;
            line-height: 80px;
            font-size: 30px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
            background: #f9f9f9;
            color: #696969;
            display: inline-block;
            text-decoration: none;
            border-radius: 6px;
        }

        .show-btn:hover {
            color: #393939;
        }

        .show-btn:active {
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.22);
            margin-top: 1px;
        }

        .btn-nest {
            text-align: center;
            margin-top: 150px;
        }

        .demo-panel{
            width: 300px;
            height: 180px;
            background: aliceblue;
        }
    </style>

    <link rel="stylesheet" href="res/bin/main.css"/>
</head>
<body>

{% wrap bgScreen wrapper %}
    <div class="demo-panel">

    </div>
{% endwrap %}

<div class="btn-nest">
    <a href="#" class="show-btn show__js">Click to show</a>
</div>

<script>
    let $root = jQuery(ModalWindow.getSelector());
    //console.log('$root', $root);
    let modalWindowOption = new ModalWindowOption();
    modalWindowOption.setRoot($root);
    modalWindowOption.setOnShowCallback(() => {
        //jQuery('#youtube').attr('src', 'https://www.youtube.com/embed/ZM4veycUxIg');
    });

    modalWindowOption.setOnHideCallback(() => {
        jQuery('#youtube').attr('src', '');
    });
    let modalWindow = new ModalWindow(modalWindowOption);

    jQuery('.show__js').click(function () {
        console.log('btn click');
        modalWindow.show();
        return false;
    });

</script>
</body>
</html>